{% extends 'base.html' %}
{% block content %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

    <div class="modal-content ps-5 pb-5 pe-5">
        <h3 class="mt-4 mb-3 text-center"><b>Change Password?</b></h3>
        <p class="text-black text-center"><b>Note : Password length should be more that 8</b></p>  
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <div class="">
                    {{ form.old_password }}
                    
                </div>
                <div class="mt-2">
                    {{ form.new_password1 }}
                </div>
                <div class="mt-2">
                    {{ form.new_password2 }}
                </div>
                <input class="modal-red-btn btn text-white mt-3 w-100" type="submit" value="Login">
            </form>
            <small class="text-muted mt-3">
                Go to home? <a class="text-decoration-none" href="{% url "photo:home" %}">click here...</a>
            </small>
        </div>
    </div>
{% endblock %}

